@media only screen and (min-width: 1440px){
  .container {
    max-width: 1260px;
  }
}

@media only screen and (max-width: 1366px) {
  html, body {
    font-size: 15px;
  }
  .section-types p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .section-types {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-main--text {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 992px) {
  .early-access--cta {
    display: none;
  }
  .navbar-nav .nav-link {
    padding: 15px 20px !important;
  }

  header .header-text {
    width: 100%;
  }
  header .sectional-illustration {
    width: 360px;
  }
  .borrow-with--ease .sectional-illustration {
    margin-top: 30px;
  }
  .sectional-illustration {
    width: 320px;
    margin: auto;
  }
  .section-main--text {
    margin-bottom: 30px;
  }
  .our-partners .sectional-illustration, .partners {
    margin-bottom: 30px;
  }
  .manifesto-card {
    margin-bottom: 30px;
  }

  .about-us .team-image {
    height: auto;
    width: 300px;
    margin: auto auto 20px;
  }
  .get-early--access img {
    margin: auto auto 30px;
    display: flex;
  }
  .get-early--access .subscribe input {
    margin-left: 8px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
  header .header-text {
    margin-top: 0;
    margin-bottom: 20px;
  }
  header, section {
    padding: 40px 0;
  }
  header .subscribe button {
    margin: auto auto 20px;
  }

  .features .feature {
    flex-direction: column;
  }

  .features .feature.even {
    flex-direction: column-reverse;
  }

  .feature-image {
    margin-bottom: 20px;
  }
  .feature-text {
    width: 100%;
  }

  .why-banner {
    display: none;
  }

  .summary-wrap {
    opacity: 1;
  }

  .subscribe input {
    width: 100%;
  }
  .section-types {
    display: block;
  }

  .partners {
    flex-direction: column;
  }

  .partners h4 {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .partners .partners-logo {
    flex-direction: column;
  }
  .partners .partners-logo img {
    margin-bottom: 40px;
    margin-right: 0;
    height: 35px;
  }
  .manifesto-cards {
    width: 95%;
  }
  
  .partners-logo img.crevance {
    margin-top: 0;
  }
  .invite {
    flex-direction: column;
  }
  .invite a {
    margin-bottom: 12px;
  }
  .invite a:not(:last-child) {
    margin-right: 0;
  }
  .section-main--text h1 {
    font-size: 2.7rem;
  }
  .ecosystem img {
    height: 250px;
  }
  .ecosystem img.debit-card {
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .get-early--access .subscribe {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .get-early--access .subscribe h4 {
    margin-bottom: 15px;
  }
  .get-early--access .subscribe input {
    width: 100%;
    margin-bottom: 15px;
  }
  footer ul.social-media {
    margin-bottom: 12px;
  }
  .social-media + p {
    margin-bottom: 12px;
  }
}