@font-face {
  font-family: 'Scriptina';
  src: url('scriptina.eot');
  src: url('scriptina.eot?#iefix') format('embedded-opentype'),
      url('scriptina.woff2') format('woff2'),
      url('scriptina.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  box-shadow: none;
  outline: none;
  background: #f6fcf8;
  line-height: 1.2;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

input {
  outline: none;
  box-shadow: none;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: 600;
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
}

.fundall-green {
  color: #2EC033;
}

.btn {
  border-radius: 100px;
  border: none;
  padding: 7px 20px;
  outline: none;
  box-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background: #2EC033 !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary {
  background: transparent !important;
  border: 1px solid #000000;
  color: #2EC033;
}

.btn-secondary:hover, .btn-secondary:focus {
  background: #000000 !important;
  color: #ffffff;
}

.btn-tertiary, .btn-tertiary:hover, .btn-tertiary:focus {
  background: #00A66C !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff;
  border-radius: 0;
}

.btn-outline {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  transition: 0.3s ease-out;
}

.btn-outline:hover, .btn-outline:focus {
  background: #000;
  color: #fff;
  transition: 0.3s ease-in
}

.btn-pill {
  background: #F6FCF8;
  color: #2EC033;
  transition: 0.3s ease-out;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 700;
}

.btn-pill:hover {
  background: #2EC033;
  color: #fff;
  transition: 0.3s ease-in
}
.r-0 {
  border-radius: 0;
}

header, section {
  padding: 80px 0;
  overflow-x: hidden;
}

section {
  background: #ffffff;
}

section.inverse {
  background: #f6fcf8;
}

.sectional-illustration {
  height: 100%;
  width: 470px;
  display: flex;
  align-items: center;
}

section.inverse .sectional-illustration {
  margin-left: auto;
}

.sectional-illustration img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sectional-illustration img:first-child {
  z-index: 1;
}

.sectional-illustration img.debit-card {
  position: relative;
  left: -230px;
}

nav {
  height: auto;
  background: #F6FCF8;;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.08);
}

.navbar-brand {
  height: 60px;
  width: auto;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #000 !important;
  font-weight: 600;
  padding: 7px 20px !important;
}

.navbar-nav .nav-item.active .nav-link {
  color: #2EC033 !important;
}


header {
  background: #ffffff;
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  margin-top: 70px;
  position: relative;
}

.header-oval {
  position: absolute;
  top: 5%;
  left: -90px;
  height: 500px;
}

.show-more--header .header-oval {
  height: 160px;
  left: -10px;
  top: 10%;
}

.header-side-image {
  position: absolute;
  right: 20px;
  top: 0;
  height: 100%;
  width: 100px;
}

.header-oval img, .header-side-image img {
  height: 100%;
}

header .header-text {
  margin-bottom: 50px;
  margin-top: -120px;
}

header .header-text p {
  font-size: 1rem;
}

.header-text h4 {
  display: flex;
  align-items: center;
}

.header-text h4 span {
  height: 3px;
  background: #2EC033;
  width: 10%;
  margin-right: 15px;
  margin-left: 100px;
  display: inline-block;
}

.subscribe h4 {
  font-weight: 600;
}


.subscribe input {
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  padding-bottom: 7px;
  background: transparent;
  width: 70%;
  margin-bottom: 20px;
}

.subscribe input:focus {
  border-color: #2EC033;
  transition: border-color 0.4s ease-in;
}

header .sectional-illustration {
  margin: auto;
}

.subscribe button {
  width: min-content;
}

.coming-soon h4 {
  font-weight: 700;
}

.coming-soon button:first-child {
  margin-right: 20px;
}

.coming-soon button svg {
  height: 18px;
  width: auto;
  margin-right: 5px;
}

section h1 {
  font-size: 2.7rem;
  text-align: center;
}

section h1 + h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 60px;
}

/* Features */
.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 60px;
  width: 90%;
}

.feature-image {
  width: 370px;
  position: relative;
}

.feature-image.oval {
  height: 250px;
  width: 250px;
  border-radius: 100%;
}

.feature-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature-image.oval img {
  border-radius: 100%;
}

.feature-image.oval img + div {
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: -50px;
  background: #EDA0A8;
  opacity: 0.5;
  border-radius: 100%;
}

.feature-image.oval img + div.reach {
  background: #D5F2D6;
}

.feature-image.oval img + div.save {
  background: #FFB603;
}

.feature-image.oval img + div.loans {
  background: #2EC033;
}

.feature-image.oval img + div.fundall-card {
  background: #4D8AF0;
}

.feature-text {
  width: 65%;
  margin: auto;
}

/* Security */
.bullet {
  min-width: 11%;
}

.bullet-point {
  height: 24px;
  width: 24px;
  position: relative;
  top: 6px;
  left: -6px;
  border-radius: 5px;
  background: #C4C4C4;
}

.bullet-point::before {
  display: block;
  content: '';
  position: absolute;
  top: -6px;
  left: 6px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: #2EC033;
}

.bullet-point img {
  position: absolute;
  top: -12px;
  left: 9px;
}

.bullet-content {
  width: 85%;
}

.bullet-content h4 {
  font-weight: 700;
}


/* Ecosytem */
.ecosystem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.ecosystem img {
  height: 450px;
  width: auto;
}

.ecosystem img.debit-card {
  position: relative;
  left: -90px;
}

.why-banner {
  padding: 0 !important;
  min-height: 1px;
}

.summary-wrap {
  padding-top: 2px !important;
  padding-bottom: 20px !important;
  opacity: 0.7;
}

.summary-wrap.active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.feature-summary .bullet-content h4 {
  margin-bottom: 10px;
}

.feature-summary .bullet-content p {
  font-size: 1rem;
}

.why-banner-image {
  position: relative;
  height: 500px;
}

.banner-card img,
.banner-card .banner-svg {
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-left: 9%;
  max-height: 500px;
  pointer-events: none;
}

.banner-card .banner-svg.card-stack {
  position: relative;
  left: -26%;
}

.banner-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s ease-out;
}

.banner-card.active {
  opacity: 1;
  transition: 0.3s ease-in;
}

.slider-banner-slider {
  margin-top: 50px;
  padding: 36px;
  min-height: 320px;
}


/* Partners */
.partners {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners h4 {
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 25px;
}

.partners .partners-logo {
  display: flex;
  align-items: center;
}

.partners-logo img {
  width: auto;
  height: 30px;
  margin-right: 50px;
}

.partners-logo img.crevance {
  margin-top: -17px;
}


/* Join Our Team */
.join-our--team {
  background: #ffd6c9;
  text-align: center;
}

.join-our--team img {
  height: auto;
  min-height: 200px;
  width: 200px;
  margin-bottom: 12px;
}

.join-our--team h4 {
  margin-bottom: 12px;
  font-weight: 700;
}


/* Early Access */

.get-early--access {
  height: auto;
  background: #ffffff;
  width: 100%;
  padding: 30px;
}

.get-early--access .subscribe {
  display: flex;
  align-items: center;
}

.get-early--access .subscribe h4 {
  margin-bottom: 0;
  margin-right: 15px;
  min-width: 160px;
}

.get-early--access .subscribe input {
  width: 60%;
  margin: auto 20px;
}


/* Footer */
footer {
  background: #F6FCF8;
  background-image: url("../img/footer-background.png");
  background-position: bottom;
  background-repeat: no-repeat; 
  background-size: contain;
  padding: 60px 0;
  border-top: 10px solid #2EC033;
}

footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

footer h4 {
  margin-bottom: 20px;
  font-size: 1.1rem;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  padding: 7px 10px 7px 0; 
}

footer li a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
}


footer ul.social-media {
  display: flex;
  align-items: center;
}

ul.social-media li:not(:last-child) {
  margin-right: 10px
}

footer a img {
  height: 30px;
  width: 30px;
}

.social-media ~ p {
  font-weight: 600;
  margin-bottom: 0;
}

footer h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

footer .copyright p {
  font-size: 0.8rem;
  margin-bottom: 12px;
  color: rgba(0,0,0,0.8);
}

.ng-flag {
  height: 20px;
  width: auto;
  margin-right: 5px;
  margin-top: -3px;
}


/* Thank you */
.thank-you, .error, .faq {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

.thank-you h4 {
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

.thank-you--illustration, .error-illustration {
  width: auto;
  height: 280px;
  margin: auto;
}

.thank-you--message h3, .thank-you--message h4, .error-message h3, .error-message h4 {
  font-weight: 700;
}

.thank-you--message h3, .error-message h3 {
  font-size: 2.3rem;
  margin-bottom: 40px;
}

.thank-you--message h4, .error-message h4 {
  font-size: 1.5rem;
}

.signature {
  font-family: 'Scriptina';
  font-size: 20px;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share h4 {
  margin-bottom: 0;
  margin-right: 30px;
}

.share a {
  margin-right: 10px;
}

.share .invite-link {
  background: #007ab9;
  border-radius: 0;
  color: #fff;
  margin-left: 30px;
}


/*Show More */
.show-more--header__text h1 {
  position: relative;
}

.show-more--header__text span {
  position: absolute; 
  top: -40px;
  left: 130px;
}

.show-more--header__text span  img {
  height: 60px;
  width: auto;
}

.show-more--header {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.icon-holder {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  border-radius: 100px;
  margin-right: 30px;
}

.icon-holder img {
  width: auto;
  height: 32px;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.plan img {
  height: 120px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 20px;
}


/* Sign Up */
.signup {
  height: auto;
  width: 100%;
  padding: 0;
  display: flex;
}

.signup-background {
  width: 36%;
  height: 100vh;
  background: #F2F2F2;
  padding: 80px 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.signup-background .navbar-brand {
  position: absolute;
  top: 80px;
  left: 30px;
}

.signup-background h3 {
  line-height: 1.5;
}

.signup-form {
  background: #ffffff;
  width: 64%;
  position: relative;
  left: 36%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 60px;
}

.mobile-header {
  display: none;
  position: absolute;
  top: 60px;
  left: 40px;
}

.mobile-header a {
  margin-bottom: 60px;
}

.mobile-header h3 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.signup-form form {
  width: 60%;
}

.signup-form .inputBox {
  position: relative;
}

.signup-form .inputBox input {
  width: 100%;
  padding:  12px;
  padding-left: 40px;
  font-size: 1rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 0.062rem;
  margin-bottom: 35px;
  border: 1px solid #828282;
  outline: none;
  box-shadow: none;
  border-radius: 5px;
  background: transparent;
  transition: border 0.3s ease-out;
}

.signup-form .inputBox input:focus {
  border: 1px solid #2EC033;
  transition: border 0.3s ease-in;
}

.signup-form .inputBox img {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 1;
  height: 21px;
  margin-left: 12px;
  pointer-events: none;
}

.signup-form .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 7px;
  font-size: 0.8rem;
  color: #2EC033;
  background: #ffffff;
  margin: 0 12px;
  pointer-events: none;
  transition: color 0.3s ease-in;
}

.signup-form .inputBox input ~ label,
.signup-form .inputBox input:valid ~ label,
.signup-form .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #828282;
  transition: color 0.3s ease-out;
}

.signup-form .inputBox input:focus ~ label {
  color: #2EC033;
}

.no-radius {
  border-radius: 0;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  width: 100%;
}

.form-group input:checked + label > div {
  background: #2EC033;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

label > div {
  height: 40px;
  width: 100%;
  background: #F2F2F2;
  border-radius: 50px;
  color: #000;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label > div::after {
  content: '+';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  font-size: 30px;
  font-weight: 700;
  color: #2EC033;
}

.form-group input:checked + label > div::after {
  content: '-';
  color: #ffffff;
}

label > div p {
  font-size: 15px;
  font-weight: 700;
}

.btn.no-radius {
  padding: 15px 35px;
  font-size: 16px;
}


/* Error */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error a {
  margin-right: 20px;
  font-size: 12px;
}


/* FAQ Header */
.faq-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-header > div {
  width: 60%;
}

.faq-questions {
  padding-bottom: 200px;
}

.faq-questions ul {
  list-style: none;
}

.faq-questions ul li {
  margin-bottom: 30px;
}

.topic-rule {
  height: 2px;
  background: #2EC033;
  width: 150px;
  margin-bottom: 10px;
}

.other-topics > div {
  margin-bottom: 25px;
}

.faq-categories {
  overflow-x: visible;
  min-height: 400px;
  position: relative;
}

.faq-category--container {
  position: absolute;
  top: -35%;
  width: 75%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

.faq-category {
  height: 300px;
  width: 100%;
  background: #f6fcf8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-category img {
  width: auto;
  height: 80px;
  margin-bottom: 15px;
}

.faq-category a {
  display: flex;
  align-items: center;
  color: #263858;
}

.faq-category a:hover {
  color: #263858;
}

.faq-category a h4 {
  font-weight: 700;
  margin-bottom: 0;
}

.faq-category a svg {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

.articles-to--read {
  margin-top: 12%;
}

.articles-to--read h5 {
  font-weight: 700;
}

.topic-rule.thick {
  height: 5px;
}

.article h5 {
  font-weight: 700;
  color: #263858;
  line-height: 1.5;
}

.article p {
  font-size: 17px;
}

.article a, .article a:hover {
  color: #2EC033;
  font-weight: 700;
}

.btn-outline {
  display: flex;
  align-items: center;
}

.btn-outline:hover svg path {
  fill: #fff;
}

.contact-support {
  position: relative;
  height: 400px;
}

.contact-support img {
  position: absolute;
  height: 350px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.contact-support img.phone {
  left: 15%;
}

.contact-support img.cards {
  right: 15%;
}

/* Other Pages */
.other-pages--header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  border-bottom: 10px solid #2EC033;
}

.other-pages--header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.other-pages--header .header-content h3,
.other-pages--header .header-content p {
  margin-bottom: 30px;
}


/* About */
.fundall-for .for {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fundall-for .for div {
  min-height: 100px;
}

.fundall-for .for h4 {
  font-weight: 700;
}

.team-member {
  text-align: center;
  margin-bottom: 30px;
}

.team-member div {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: auto auto 15px;
}

.team-member div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.team-member h4 {
  margin-bottom: 5px;
}

.team-member p {
  line-height: 1.3;
}

.careers-cta {
  position: relative;
  height: 400px;
}

.careers-cta img {
  position: absolute;
  height: 350px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
}

.careers-cta img.rocket {
  left: 15%;
}

.careers-cta img.fundall-app {
  right: 15%;
}

.community img {
  margin-bottom: 10px;
}

.community h4 {
  font-weight: 700;
}

.our-blog {
  transform: scale(0.8);
}


/* Careers */
.fundall-benefit {
  background: #DBE0E7;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 80%;
  margin: auto auto 50px;
}

.fundall-benefit > * {
  z-index: 1;
  margin-left: 15px;
}

.fundall-benefit img {
  margin-bottom: 15px;
}

.fundall-benefit h4 {
  font-weight: 700;
  text-align: center;
}

.fundall-benefit::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 15px;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: #F6FCF8;
}

.open-positions {
  height: 450px;
  position: relative;
}

.open-positions .open-position h2 {
  font-weight: 700;
}

.open-positions .open-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-positions .open-position h4,
.open-positions .open-position p {
  margin-bottom: 30px;
}

.open-positions img {
  position: absolute;
}

.open-positions img.left {
  left: 0;
  top: 20%;
}

.open-positions img.right {
  right: 0;
  transform: scaleX(-1);
  top: 50%;
}